<!--
<li>
    <h3>{title}</h3>
    <p>{details}</p>
</li>
-->

<div class="card" data-id="{id}">
    <div class="card-config"> 
        <h3 class="card-title">{title}</h3>

        <form method="POST" action="/">
            <input type="hidden" name="acao" value="excluir">
            <input type="hidden" name="id" value="{id}">
            <button type="submit" class="icon-button">
                <img src="img/ico-edit.png" alt="Button Icon" width="20" height="20">
            </button>
        </form>
        
    </div>
    <div class="card-content">
        <p>
            {details}
        </p>
    </div>
</div>
