<div class="card" data-id="{id}">
    <div class="card-config"> 
        <h3 class="card-title">{title}</h3>

        <!-- Hiperlink (GET) com botao de editar-->
        <a href="edit/{id}" class="icon-button">
            <img src="img/ico-edit.png" alt="Button Icon" width="20" height="20">
        </a>

        <!-- Hiperlink (GET) para a página de confirmação -->
        <a href="delete/{id}" class="icon-button"> 
            <img src="/img/ico-trash.png" alt="Excluir anotação" width="20" height="20" > 
        </a>

    </div>
    <div class="card-content">
        <p>
            {details}
        </p>
    </div>
</div>
